{:deps {io.bit3/jsass {:mvn/version "5.5.2"}
        cheshire {:mvn/version "5.7.1"}
        org.webjars/webjars-locator {:mvn/version "0.32-1"}
        watchtower {:mvn/version "0.1.1"}
        org.clojure/tools.cli {:mvn/version "0.4.1"}
        org.slf4j/slf4j-nop {:mvn/version "1.7.25"}}}
